# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/

# npm artifacts
node_modules/
package-lock.json

# local testing output
junit.xml
artifacts/

# virtualenv
.venv/
venv/

# setup.cfg
build/
*egg-info*
